{
    "JobName": "{{job_name}}",
    "JobUpdate": {
        "Role": "{{role_arn}}",
        "Command": {
            "Name": "{{command}}"
        },
        "SecurityConfiguration": "{{sec_config_name}}"
    }
}
