{
                    "Id": "cc-cloudconformity.com-origin-group-{{distribution_id}}",
                    "Members": {
                        "Items": [
                            {
                                "OriginId": "{{primary_origin_id}}"
                            },
                            {
                                "OriginId": "{{secondary_origin_id}}"
                            }
                        ],
                        "Quantity": 2
                    },
                    "FailoverCriteria": {
                        "StatusCodes": {
                            "Items": [
                                500
                            ],
                            "Quantity": 1
                        }
                    }
                }